<p-carousel
  [value]="exercices"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-exercice pTemplate="item">
    <div class="exercice-item" (click)="exerciceDetail(exercice.id)">
      <div class="exercice-item-content">
        <img
          class="cursor-pointer"
          [src]="exercice.gifUrl"
          [alt]="exercice.name"
        />
        <h4 class="p-mb-1">{{ exercice.name }}</h4>
      </div>
    </div>
  </ng-template>
</p-carousel>
