<main>
  <section class="header-container bg-exercices_header p-4 text-left">
    <h1 class="text-xl font-bold">Programmes d'entrainement</h1>
  </section>

  <div class="p-6 space-y-6">
    <div
      *ngFor="let program of programs"
      class="cursor-pointer program-item bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-300 ease-in-out"
    >
      <h2 class="program-name text-2xl font-semibold text-gray-900 mb-3">
        {{ program.name }}
      </h2>
      <p class="program-goal text-lg text-gray-600">
        {{ program.description }}
      </p>
    </div>
  </div>
</main>
