<div class="container mx-auto max-w-4xl px-6 py-10">
  @if (program) {
    <h3 class="text-3xl font-bold text-gray-900 mb-2">{{ program.name }}</h3>
    <p class="text-lg text-gray-700 mb-4">{{ program.description }}</p>
    <p class="text-gray-600 mb-6">
      Nombre de jours d'entraînement :
      <span class="font-semibold">{{ program.trainingDaysCount }}</span>
    </p>

    <div *ngFor="let day of program?.trainingDays" class="mb-6">
      <details class="group bg-gray-100 rounded-lg shadow-md p-4">
        <summary
          class="flex items-center justify-between text-lg font-semibold text-gray-800 group-hover:text-mainColor cursor-pointer"
        >
          <span>Jour {{ day.day }}</span>
          <span class="transition-transform group-open:rotate-180"> ⌄ </span>
        </summary>
        <div class="mt-4 space-y-4">
          <div
            *ngFor="let exercice of day.exercices"
            class="p-4 bg-white rounded-md shadow flex items-center"
          >
            <div class="flex-1">
              <h4 class="text-lg font-bold text-mainColor">
                {{ exercice.name }}
              </h4>
              <p class="text-sm text-gray-600">
                <span class="font-semibold">Partie du corps :</span>
                {{ exercice.bodypart }}
              </p>
              <p class="text-sm text-gray-600">
                <span class="font-semibold">Difficulté :</span>
                {{ exercice.difficultyLevel }}
              </p>
              <p class="text-sm text-gray-600">
                <span class="font-semibold">Équipement :</span>
                {{ exercice.equipment }}
              </p>
              <p class="text-sm text-gray-600">
                <span class="font-semibold">Type :</span> {{ exercice.type }}
              </p>
              <p class="text-sm text-gray-600">
                <span class="font-semibold">Séries :</span>
                {{ exercice.series }}
              </p>
              <p class="text-sm text-gray-600">
                <span class="font-semibold">Secondaires :</span>
                {{ exercice.secondaryMuscles }}
              </p>
              <p class="text-sm text-gray-600">
                <span class="font-semibold">Instructions :</span>
                {{ exercice.instructions }}
              </p>
              <p class="text-sm text-gray-600">
                <span class="font-semibold">Étapes :</span> {{ exercice.steps }}
              </p>
            </div>
            <img
              [src]="exercice.gifUrl"
              alt=""
              class="w-32 h-32 object-cover ml-4 rounded-md"
            />
          </div>
        </div>
      </details>
    </div>
  } @else {
    <div
      class="flex items-center justify-center h-40 bg-gray-100 rounded-lg shadow-md"
    >
      <p class="text-lg font-semibold text-red-500">
        Pas de programme pour le moment
      </p>
    </div>
  }
</div>
