.header-container {
  padding: 70px;
}

img {
  width: 100%;
  max-width: 350px;
  height: 250px;
}

@media (max-width: 864px) {
  .main-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
  }
}
