<div class="min-h-screen flex flex-col items-center justify-center">
  <div
    class="grid md:grid-cols-2 items-center gap-4 max-md:gap-8 max-w-6xl max-md:max-w-lg w-full p-4 shadow-lg rounded-md"
  >
    <div class="md:max-w-md w-full px-6 py-6 bg-white rounded-md shadow-sm">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-8">
          <h3 class="text-gray-800 text-3xl font-extrabold">Se connecter</h3>
          <p class="text-sm mt-4 text-gray-600">
            Vous n'avez pas de compte ?
            <a
              href="/register"
              class="text-mainColor cursor-pointer font-semibold hover:underline ml-1 whitespace-nowrap"
            >
              Enregistrez-vous
            </a>
          </p>
        </div>

        <div class="mb-6">
          <label class="text-gray-800 text-sm mb-2 block"
            >Nom d'utilisateur</label
          >
          <div class="relative flex items-center">
            <input
              name="username"
              type="text"
              formControlName="username"
              required
              class="w-full text-gray-800 text-sm border-b border-gray-300 focus:border-gray-500 focus:ring-blue-500 px-2 py-3 outline-none"
              placeholder="Entrez votre nom d'utilisateur"
            />
          </div>
        </div>

        <div class="mb-8">
          <label class="text-gray-800 text-sm mb-2 block">Mot de passe</label>
          <div class="relative flex items-center">
            <input
              name="password"
              formControlName="password"
              type="password"
              required
              class="w-full text-gray-800 text-sm border-b border-gray-300 focus:border-gray-500 focus:ring-blue-500 px-2 py-3 outline-none"
              placeholder="Entrez votre mot de passe"
            />
          </div>
        </div>

        <div class="mt-8">
          <button
            type="submit"
            class="p-2 w-full py-2.5 px-4 text-sm tracking-wide rounded-md text-white bg-mainColor hover:bg-mainColorBtnHover focus:outline-none disabled:bg-gray-400 disabled:cursor-not-allowed"
          >
            Se connecter
          </button>
        </div>
      </form>
    </div>

    <div class="hidden md:block w-full h-full object-contain">
      <img
        src="assets/login/main-img.png"
        alt="login-image"
        class="w-full h-full object-cover rounded-md"
      />
    </div>
  </div>
</div>
