.series-form button {
  background-color: #d43232;
}
.series-form button:hover {
  background-color: #c12c2c;
}

.series-container li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 12px;
  background-color: #f8e0e0;
  color: #d43232;
  border-radius: 8px;
  font-weight: 500;
}
