@tailwind base;

@tailwind components;

@tailwind utilities;

.p-carousel-item {
  display: flex !important;
  justify-content: center !important;
}

.exercice-item-content h4 {
  text-align: center !important;
}
