@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  margin: 0;
}

.p-carousel-item {
  display: flex !important;
  justify-content: center !important;
}

.exercice-item-content h4 {
  text-align: center !important;
}

li {
  list-style-type: none;
}

.header-container {
  padding: 70px;
}
