@tailwind base;

@tailwind components;

@tailwind utilities;
/* Global  */
* {
  margin: 0;
}

.exercice-item-content h4 {
  text-align: center !important;
}

li {
  list-style-type: none;
}

.header-container {
  padding: 70px;
}

/* Carousel  */
.p-carousel-item {
  display: flex !important;
  justify-content: center !important;
}

/* Buttons  */
button {
  border: none;
}
button:focus {
  outline: none;
}

.disabled {
  background-color: #e0e0e0;
  color: #000;
  font-weight: 400;
  cursor: inherit;
}
.disabled:hover {
  background-color: #e0e0e0;
}

/* Angular Materials  */
.cdk-overlay-pane {
  background-color: #fff !important;
}

mat-form-field {
  border: 1px solid #e6e8ec;
  border-radius: 4px;
}
.mat-mdc-select-placeholder {
  color: #999 !important;
  font-size: 14px;
}

/* Snackbars */
::ng-deep .snackbar-success {
  background-color: #4caf50;
}
.mat-mdc-snack-bar-container {
  &.snackbar-success {
    --mdc-snackbar-container-color: #4caf50;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.snackbar-error {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.snackbar-info {
    --mdc-snackbar-container-color: rgba(255, 255, 255);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.snackbar-error,
.snackbar-info,
.snackbar-success {
  border-radius: 4px;
}
